# Python
backend/.venv
__pycache__/
*.pyc

# Node
yt-summarizer-frontend/node_modules
.next
dist

# Environment
*.env
.env
backend/.env

# System
.DS_Store
Thumbs.db

# Temp
tmp/
temp/
*.m4a
node_modules
